{% extends "base.html" %}

{% block contenido %}
	<div class="container-fluid">
		<!-- .row -->
		<div class="row bg-title" style="background:url(/admin/plugins/images/heading-title-bg.jpg) no-repeat center center /cover;">
			<div class="col-lg-12">
				<h4 class="page-title">Acciones</h4>
			</div>
			
			<div class="col-sm-12 col-md-12 col-xs-12">
				<ol class="breadcrumb pull-left">
					<li><a href="/admin">Inicio</a></li>
					<li class="active">Acciones</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
      
		<div class="row">
			<div class="col-sm-12">
				<div class="white-box">
					<h3 class="box-title m-b-20">Lista de Acciones</h3>
				
					
					<div class="pull-left text-left m-b-sm" style="margin-top: 10px;">
						<span id="cantidad_modelos">0</span> registros en total
					</div>
					
					<div class="pull-right text-right m-b-sm" style="margin-bottom: 10px;">
						<a id="reiniciar_filtros" href="javascript:;"><button class="btn btn-sm btn-info">Reiniciar Filtros</button></a>
						<a id="filtrar_resultados" href="javascript:;"><button class="btn btn-sm btn-warning">Filtrar Resultados</button></a>
					</div>
					<div class="clearfix"></div>
					
				
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th style="width: 100px;">
										<input id="filtro_id" name="Filtros['accion_id']" class="form-control input-sm" placeholder="Id" />
									</th>
									<th>
										<select id="filtro_condicion" name="Filtros['condicion']" class="form-control input-sm">
											<option value="">Seleccione una opcion</option>
											<option value="Igual">Igual</option>
											<option value="Contiene">Contiene</option>
										</select>
									</th>
									<th>
										<input id="filtro_valor_esp" name="Filtros['valor_esp']" class="form-control input-sm" placeholder="Valor Esp" />
									</th>
									<th>
										<input id="filtro_valor_eng" name="Filtros['valor_eng']" class="form-control input-sm" placeholder="Valor Eng" />
									</th>
									<th>
										<input id="filtro_valor_tur" name="Filtros['valor_tur']" class="form-control input-sm" placeholder="Valor Tur" />
									</th>
									<th>
										<select id="filtro_origen" name="Filtros['origen']" class="form-control input-sm">
											<option value="">Seleccione una opcion</option>
											
											{% for origen in listado_origenes %}
												<option value="{{ origen.id }}">{{ origen.estado }}</option>
											{% endfor %}
										</select>
									</th>
									<th>
										<select id="filtro_destino" name="Filtros['destino']" class="form-control input-sm">
											<option value="">Seleccione una opcion</option>
											
											{% for destino in listado_destinos %}
												<option value="{{ destino.id }}">{{ destino.estado }}</option>
											{% endfor %}
										</select>
									</th>
									
									<th style="width:45px;"></th>
								</tr>
								
								<tr>
									<th>
										Id
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="id ASC"><i class="fa fa-arrow-up"></i></a>
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="id DESC"><i class="fa fa-arrow-down"></i></a>
									</th>
									<th>
										Condicion
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="condicion ASC"><i class="fa fa-arrow-up"></i></a>
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="condicion DESC"><i class="fa fa-arrow-down"></i></a>
									</th>
									<th>
										Valor Esp
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="valor_esp ASC"><i class="fa fa-arrow-up"></i></a>
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="valor_esp DESC"><i class="fa fa-arrow-down"></i></a>
									</th>
									<th>
										Valor Eng
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="valor_eng ASC"><i class="fa fa-arrow-up"></i></a>
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="valor_eng DESC"><i class="fa fa-arrow-down"></i></a>
									</th>
									<th>
										Valor Tur
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="valor_tur ASC"><i class="fa fa-arrow-up"></i></a>
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="valor_tur DESC"><i class="fa fa-arrow-down"></i></a>
									</th>
									<th>
										Origen
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="origen ASC"><i class="fa fa-arrow-up"></i></a>
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="origen DESC"><i class="fa fa-arrow-down"></i></a>
									</th>
									<th>
										Destino
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="destino ASC"><i class="fa fa-arrow-up"></i></a>
										<a href="javascript:;" class="cambiar_orden" style="color: #b1b1b1;" data-orden="destino DESC"><i class="fa fa-arrow-down"></i></a>
									</th>
									
									<th class="text-nowrap" style="width:52px;"></th>
								</tr>
							</thead>
							
							<tbody id="tabla">

							</tbody>
							
						</table>
						
						<div id="paginacion" class="text-center">

						</div>
					</div>
				
					<div class="text-right">
						<a href="/admin/web/acciones/agregar"><button class="btn btn-info">Agregar</button></a>
					</div>
				
				</div>
			</div>
		</div>
		
		<!-- MODAL ELIMINAR -->
		<div class="modal fade" id="modal_eliminar" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Eliminar Registro</h4>
			  </div>
			  <div class="modal-body">
				Esta seguro que desea eliminar el registro: <strong id="etiqueta_registro"></strong>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				<button id="boton_eliminar" type="button" class="btn btn-danger" data-id="">Eliminar</button>
			  </div><!-- /.modal-footer -->
			</div><!-- /.modal-content -->
		  </div><!-- /.modal-doalog -->
		</div><!-- /#DefaultModal -->
	  
    </div>
    <!-- /.container-fluid -->
{% endblock contenido %}

{% block extra_js %}
	<script>
		var color_orden_activo = '#5c99c0';
		var color_orden_inactivo = '#b1b1b1';
		
		var pagina_actual = 1;
				
		var filtro_id = '';
		var filtro_condicion = '';
		var filtro_valor_esp = '';
		var filtro_valor_eng = '';
		var filtro_valor_tur = '';
		var filtro_origen = '';
		var filtro_destino = '';
		
		var orden_campo = 'id DESC';
		
		$(function(){
			// PARA ABRIR LAS OPCIONES DEL MENU
			$('#menu-web').addClass('selected');
			
			{% if accion_flash != '' %}
				$.toast({
					text: '{{ accion_flash }}',
					position: 'top-right',
					loaderBg:'#ff6849',
					icon: 'success',
					hideAfter: 3000, 
					stack: 6
				});
			{% endif %}
			
			cargar_listado();
		});
		
		$('body').on('click', '.cambiar_pagina', function(){
			pagina_actual = $(this).data('pagina');
			cargar_listado();
		});
		
		$('body').on('click', '.eliminar_registro', function(){
			id = $(this).data('id');
			etiqueta = $(this).data('etiqueta');
			
			$('#etiqueta_registro').text(etiqueta);
			$('#boton_eliminar').data('id', id);
			$('#modal_eliminar').modal('toggle');
		});
		
		$('#boton_eliminar').click(function(){
			eliminar_registro(id);
			$('#modal_eliminar').modal('toggle');
		});
		
		$('body').on('click', '.cambiar_orden', function(){
			orden_campo = $(this).data('orden');
			
			
			// PARA REINICIAR EL COLOR DE LOS BOTONES
			$('.cambiar_orden').css('color', color_orden_inactivo);
			$('.cambiar_orden').each(function(index, value){
				if($(this).data('orden') == orden_campo)
					$(this).css('color', color_orden_activo);
			});
			
			cargar_listado();
		});
		
		$('#reiniciar_filtros').click(function(){			
			$('#filtro_id').val('');
			$('#filtro_condicion').val('');
			$('#filtro_valor_esp').val('');
			$('#filtro_valor_eng').val('');
			$('#filtro_valor_tur').val('');
			$('#filtro_origen').val('');
			$('#filtro_destino').val('');
			
			$('#filtrar_resultados').trigger('click');
		});
		
		$('#filtrar_resultados').click(function(){			
			filtro_id = $('#filtro_id').val();
			filtro_condicion = $('#filtro_condicion').val();
			filtro_valor_esp = $('#filtro_valor_esp').val();
			filtro_valor_eng = $('#filtro_valor_eng').val();
			filtro_valor_tur = $('#filtro_valor_tur').val();
			filtro_origen = $('#filtro_origen').val();
			filtro_destino = $('#filtro_destino').val();

			pagina_actual = 1;
			
			cargar_listado();
		});
		
		function cargar_listado(){
			$.ajax({
				url: '/admin/web/acciones/listado-ajax',
				method: 'POST',
				data: {
					'{{ app.request.csrfParam }}': '{{ app.request.csrfToken }}',
					'pagina_actual': pagina_actual,

					'filtro_id': filtro_id,
					'filtro_condicion': filtro_condicion,
					'filtro_valor_esp': filtro_valor_esp,
					'filtro_valor_eng': filtro_valor_eng,
					'filtro_valor_tur': filtro_valor_tur,
					'filtro_origen': filtro_origen,
					'filtro_destino': filtro_destino,
					
					'orden_campo': orden_campo,
				},
				timeout: 20000,
				beforeSend: function(){
					console.log('Cargando el listado de registros via ajax...');
					
					$('#tabla').html('');
					$('#paginacion').html('');
					
					$('#tabla').append(' \
						<tr> \
							<td colspan="8">Cargando el listado de registros...</td> \
						</tr> \
					');
				},
				success: function(data){					
					$('#tabla').html('');
					$('#paginacion').html('');
					
					$('#cantidad_modelos').text(data.cantidad_modelos);
					
					console.log(data);
					
					if(data.cantidad_modelos > 0){
						$.each(data.listado_modelos, function(index, valor){							

							$('#tabla').append(' \
								<tr> \
									<td><a href="/admin/web/acciones/editar/' + valor.id + '">Accion ' + valor.id + '</a></td> \
									<td>' + valor.condicion + '</td> \
									<td>' + valor.valor_esp + '</td> \
									<td>' + valor.valor_eng + '</td> \
									<td>' + valor.valor_tur + '</td> \
									<td>' + valor.origen + '</td> \
									<td>' + valor.destino + '</td> \
									\
									<td> \
										<a href="/admin/web/acciones/editar/' + valor.id + '" data-toggle="tooltip" data-original-title="Editar" class="text-muted" style="padding-right:5px"> <i class="fa fa-pencil"></i> </a> \
										<a href="javascript:;" data-toggle="tooltip" data-original-title="Eliminar" data-id="' + valor.id + '"  data-etiqueta="Accion ' + valor.id + '" class="eliminar_registro text-danger" style="padding-right:5px"> <i class="fa fa-times"></i> </a> \
									</td> \
								</tr> \
							');
						});
						
						if(data.cantidad_paginas > 1){
							var pagina_actual = parseInt(data.pagina_actual);
							var pagina_anterior = pagina_actual <= 1 ? 1 : pagina_actual - 1;
							var pagina_siguiente = pagina_actual >= parseInt(data.cantidad_paginas) ? parseInt(data.cantidad_paginas) : pagina_actual + 1;

							
							$('#paginacion').html(' \
								<ul class="pagination"> \
								</ul> \
							');							
							
							
							$('#paginacion .pagination').append(' \
								<li class="cambiar_pagina" data-pagina="1"><a href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li> \
							');
							
							$('#paginacion .pagination').append(' \
								<li class="cambiar_pagina" data-pagina="' + pagina_anterior + '"><a href="javascript:;"><i class="fa fa-angle-left"></i></a></li> \
							');
							
							if(pagina_actual > 3){
								$('#paginacion .pagination').append(' \
									<li class="cambiar_pagina" data-pagina="' + (pagina_anterior - 2) + '"><a href="javascript:;">' + (pagina_anterior - 2) + '</a></li> \
								');
							}
							
							if(pagina_actual > 2){
								$('#paginacion .pagination').append(' \
									<li class="cambiar_pagina" data-pagina="' + (pagina_anterior - 1) + '"><a href="javascript:;">' + (pagina_anterior - 1) + '</a></li> \
								');
							}
							
							if(pagina_actual > 1){
								$('#paginacion .pagination').append(' \
									<li class="cambiar_pagina" data-pagina="' + pagina_anterior + '"><a href="javascript:;">' + pagina_anterior + '</a></li> \
								');
							}
							
							$('#paginacion .pagination').append(' \
								<li class="active"><a href="javascript:;">' + pagina_actual + '</a></li> \
							');
							
							if(pagina_actual < parseInt(data.cantidad_paginas)){
								$('#paginacion .pagination').append(' \
									<li class="cambiar_pagina" data-pagina="' + pagina_siguiente + '"><a href="javascript:;">' + pagina_siguiente + '</a></li> \
								');
							}
							
							if(pagina_actual < (parseInt(data.cantidad_paginas) - 1)){
								$('#paginacion .pagination').append(' \
									<li class="cambiar_pagina" data-pagina="' + (pagina_siguiente + 1) + '"><a href="javascript:;">' + (pagina_siguiente + 1) + '</a></li> \
								');
							}
							
							if(pagina_actual < (parseInt(data.cantidad_paginas) - 2)){
								$('#paginacion .pagination').append(' \
									<li class="cambiar_pagina" data-pagina="' + (pagina_siguiente + 2) + '"><a href="javascript:;">' + (pagina_siguiente + 2) + '</a></li> \
								');
							}
							
							$('#paginacion .pagination').append(' \
								<li class="cambiar_pagina" data-pagina="' + pagina_siguiente + '"><a href="javascript:;"><i class="fa fa-angle-right"></i></a></li> \
							');
							
							$('#paginacion .pagination').append(' \
								<li class="cambiar_pagina" data-pagina="' + data.cantidad_paginas + '"><a href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li> \
							');
							
						}
					}
					else{
						$('#tabla').append(' \
							<tr> \
								<td colspan="8">No existen registros en la base de datos con los criterios de busqueda indicados...</td> \
							</tr> \
						');
					}
				},
				error: function(x, t, m) {
					if(t === "timeout") {
						alert('El servidor ha tardado mucho en dar respuesta a la solicitud...');
						console.log('El servidor ha tardado mucho en dar respuesta a la solicitud...');
					} else {
						alert('Ha ocurrido un error inesperado al intentar cargar los registros...');
						console.log('Ha ocurrido un error inesperado al intentar cargar los registros...');
					}
				}
			});
		}
		
		function eliminar_registro(id){
			$.ajax({
				url: '/admin/web/acciones/eliminar-ajax',
				method: 'POST',
				data: {
					'{{ app.request.csrfParam }}': '{{ app.request.csrfToken }}',
					'id': id,
				},
				timeout: 20000,
				beforeSend: function(){
					console.log('Eliminando el registro via ajax...');
				},
				success: function(data){					
					console.log(data);
					
					if(data.codigo == '1'){
						$.toast({
							heading: 'Exito !!',
							text: data.accion,
							position: 'top-right',
							loaderBg:'#ff6849',
							icon: 'success',
							hideAfter: 3000, 
							stack: 6
						});
						
						pagina_actual = 1;
						
						cargar_listado();
					}
					else{
						$.toast({
							heading: 'Error !!',
							text: data.accion + '. Codigo: ' + data.codigo,
							position: 'top-right',
							loaderBg:'#ff6849',
							icon: 'error',
							hideAfter: 3000, 
							stack: 6
						});
						
						pagina_actual = 1;
						
						cargar_listado();
					}
				},
				error: function(x, t, m) {
					if(t === "timeout") {
						alert('El servidor ha tardado mucho en eliminar el registro...');
						console.log('El servidor ha tardado mucho en eliminar el registro...');
					} else {
						alert('Ha ocurrido un error inesperado al intentar eliminar el registro...');
						console.log('Ha ocurrido un error inesperado al intentar eliminar el registro...');
					}
				}
			});
		}
	</script>
{% endblock extra_js %}